<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>Home</title>
</head>
<body>

    <div layout:fragment="content">
        <h1>Topics</h1>

        <ul class="list-group list-group-flush">
            <li th:each="topic: ${topics}" class="d-flex flex-row list-group-item justify-content-between">
                <a th:href="@{/topics/{id}(id=${topic.getId()})}" th:text="${topic.getTitle()}">
                </a>
                    <span
                            class="badge badge-primary badge-pill"
                            th:text="${topic.countComments()}"
                    >
                    </span>
            </li>
        </ul>
    </div>
</body>
</html>