<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>View Topic</title>
</head>
<body>
    <div layout:fragment="content">
        <div th:if="${success != null}" th:text="${success}" class="alert alert-success">
        </div>
        <div class="card mt-4 mb-5">
            <div class="card-body">
                <h3 class="card-title mb-1" th:text="${topic.getTitle()}"></h3>
                <div class="">
                    <p class="topic-subheading mb-3 font-weight-light">
                        Submitted by
                        <span th:text="${topic.getAuthor()}"></span>
                        <span th:text="${topic.getPrettyCreatedAt()}"></span>
                    </p>
                    <p class="topic-description" th:text="${topic.getDescription()}"></p>
                </div>
            </div>
        </div>

        <div class="new-comment mb-5">
            <form th:action="@{/topics/{id}(id=${topic.getId()})}" th:object="${comment}" th:method="post" method="post">
                <div class="form-group">
                    <label for="author">Name</label>
                    <input th:value="${comment.getAuthor()}" class="form-control" type="text" name="author" id="author">
                    <p th:if="${#fields.hasErrors('author')}" class="text-danger">Name must be 20 characters or less.</p>
                </div>

                <div class="form-group">
                    <label for="comment-body">Comment</label>
                    <textarea required th:value="${comment.getBody()}" class="form-control" name="body" id="comment-body" cols="30" rows="10"></textarea>
                    <p th:if="${#fields.hasErrors('body')}" class="text-danger">Comment cannot be blank.</p>
                </div>

                <input class="btn btn-primary" type="submit" value="Add Comment">
            </form>
        </div>

        <div class="comments mb-5" th:if="${not #lists.isEmpty(topic.getComments())}">
            <h3>Comments</h3>
            <div class="comment" th:each="comment: ${topic.getComments()}">
                <div class="list-group-item">
                    <p class="card-title mb-0 font-weight-bold" th:text="${comment.getAuthor()}"></p>
                    <p class="card-text mb-3 topic-subheading font-weight-light" th:text="${comment.getPrettyCreatedAt()}"></p>
                    <p class="card-text comment-description" th:text="${comment.getBody()}"></p>
                </div>
            </div>
        </div>

    </div>
</body>
</html>