<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Topics | View Topic</title>
</head>
<body>
    <h1 th:text="${topic.getTitle()}"></h1>
    <p th:text="${topic.getDescription()}"></p>
    <p th:text="${topic.getAuthor()}"></p>

    <div class="comments" th:if="${not #lists.isEmpty(topic.getComments())}">
        <div class="comment" th:each="comment: ${topic.getComments()}">
            <p th:text="${comment.getAuthor()}"></p>
            <p th:text="${comment.getBody()}"></p>
        </div>
    </div>
    <div class="new-comment">
        <form action="/api/comments/" method="post">
            <input type="hidden" name="topicId" th:value="${topic.getId()}">
            <label for="author">Author</label>
            <input type="text" name="author" id="author">

            <label for="comment-body">Comment</label>
            <textarea name="body" id="comment-body" cols="30" rows="10"></textarea>

            <input type="submit" value="Add Comment">
        </form>
    </div>
</body>
</html>