<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>

<head>
    <title>View Topic</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="card mb-5">
            <div class="card-body">
                <h3 class="card-title mb-1" th:text="${topic.getTitle()}"></h3>
                <div class="">
                    <p class="topic-subheading mb-3 font-weight-light">
                        Submitted by
                        <span th:text="${topic.getAuthor()}"></span>
                        <span th:text="${topic.getPrettyCreatedAt()}"></span>
                    </p>
                    <p th:text="${topic.getDescription()}"></p>
                </div>
            </div>
        </div>

        <div class="comments mb-5" th:if="${not #lists.isEmpty(topic.getComments())}">
            <div class="comment" th:each="comment: ${topic.getComments()}">
                <div class="list-group-item">
                    <p class="card-title mb-0 font-weight-bold" th:text="${comment.getAuthor()}"></p>
                    <p class="card-text mb-3 topic-subheading font-weight-light" th:text="${comment.getPrettyCreatedAt()}"></p>
                    <p class="card-text" th:text="${comment.getBody()}"></p>
                </div>
            </div>
        </div>

        <div class="new-comment">
            <form action="/api/comments/" method="post">
                <input type="hidden" name="topicId" th:value="${topic.getId()}">

                <div class="form-group">
                    <label for="author">Name</label>
                    <input class="form-control" type="text" name="author" id="author">
                </div>

                <div class="form-group">
                    <label for="comment-body">Comment</label>
                    <textarea class="form-control" name="body" id="comment-body" cols="30" rows="10"></textarea>
                </div>

                <input class="btn btn-primary" type="submit" value="Add Comment">
            </form>
        </div>
    </div>
</body>
</html>